body.overflow {
  overflow: hidden;
}

.logo {
  position: fixed;
  z-index: 2;
  width: 100%;
  color: #fff;
  padding: 20px 0;
  -webkit-transition: padding 0.9s ease;
  -moz-transition: padding 0.9s ease;
  -o-transition: padding 0.9s ease;
  transition: padding 0.9s ease;
}

.logo h3 {
  margin: 0;
  padding: 8px 0;
}

.logo.affix {
  background: #000;
  padding: 15px 0;
}

/*  BURGER
========================================== */

.burger {
  width: 50px;
  height: 50px;
  position: fixed;
  top: 20px;
  left: 40px;
  border-radius: 4px;
  z-index: 10;
  -webkit-transition: all 0.9s ease;
  -moz-transition: all 0.9s ease;
  -o-transition: all 0.9s ease;
  transition: all 0.9s ease;
}

/* .burger:hover span::before {
  top: -12px;
  -webkit-transition: top 0.3s ease;
  -moz-transition: top 0.3s ease;
  -o-transition: top 0.3s ease;
  transition: top 0.3s ease;
}

.burger:hover span::after {
  top: 12px;
  -webkit-transition: top 0.3s ease;
  -moz-transition: top 0.3s ease;
  -o-transition: top 0.3s ease;
  transition: top 0.3s ease;
} */

.burger.affix {
  -webkit-transition: all 0.9s ease;
  -moz-transition: all 0.9s ease;
  -o-transition: all 0.9s ease;
  transition: all 0.9s ease;
  top: 15px;
}

.burger span {
  position: relative;
  margin-top: 9px;
  margin-bottom: 9px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -15px;
  margin-top: -1.5px;
}

.burger span, .burger span::before, .burger span::after {
  display: block;
  width: 28px;
  height: 3px;
  background-color: #fff;
  outline: 1px solid transparent;
  -webkit-transition-property: background-color, -webkit-transform;
  -moz-transition-property: background-color, -moz-transform;
  -o-transition-property: background-color, -o-transform;
  transition-property: background-color, transform;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
}

.burger span::before, .burger span::after {
  position: absolute;
  content: "";
}

.burger span::before {
  width: 15px;
  top: -9px;
}

.burger span::after {
  width: 8px;
  top: 9px;
}

.burger.clicked span {
  background-color: transparent;
}

.burger.clicked span::before {
  -webkit-transform: translateY(9px) rotate(45deg);
  -moz-transform: translateY(9px) rotate(45deg);
  -ms-transform: translateY(9px) rotate(45deg);
  -o-transform: translateY(9px) rotate(45deg);
  transform: translateY(9px) rotate(45deg);
  width: 28px;
}

.burger.clicked span::after {
  -webkit-transform: translateY(-9px) rotate(-45deg);
  -moz-transform: translateY(-9px) rotate(-45deg);
  -ms-transform: translateY(-9px) rotate(-45deg);
  -o-transform: translateY(-9px) rotate(-45deg);
  transform: translateY(-9px) rotate(-45deg);
  width: 28px;
}

.burger.clicked span:before, .burger.clicked span:after {
  background-color: #333;
}

.burger:hover {
  cursor: pointer;
}

/*  NAV
========================================== */

#navWrap nav {
  background-color: #fff;
  position: fixed;
  z-index: 9;
  top: 0;
  left: 0;
  height: 100%;
  max-width: 320px;
  width: 100%;
  overflow-x: auto;
  -webkit-transform: translateX(-100%);
  -moz-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  -o-transform: translateX(-100%);
  transform: translateX(-100%);
  -webkit-transition: transform 0.55s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  -moz-transition: transform 0.55s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  -o-transition: transform 0.55s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  transition: transform 0.55s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

#navWrap nav.show {
  -webkit-transform: translateX(0px);
  -moz-transform: translateX(0px);
  -ms-transform: translateX(0px);
  -o-transform: translateX(0px);
  transform: translateX(0px);
}

#navWrap nav.show ul.main li {
  -webkit-transform: translateX(0px);
  -moz-transform: translateX(0px);
  -ms-transform: translateX(0px);
  -o-transform: translateX(0px);
  transform: translateX(0px);
  opacity: 1;
}

#navWrap nav.show ul.main li:nth-child(1) {
  transition-delay: 0.15s;
}

#navWrap nav.show ul.main li:nth-child(2) {
  transition-delay: 0.3s;
}

#navWrap nav.show ul.main li:nth-child(3) {
  transition-delay: 0.45s;
}

#navWrap nav.show ul.main li:nth-child(4) {
  transition-delay: 0.6s;
}

#navWrap nav.show ul.main li:nth-child(5) {
  transition-delay: 0.75s;
}

#navWrap nav.show ul.main li:nth-child(6) {
  transition-delay: 0.9s;
}

#navWrap nav.show ul.main li:nth-child(7) {
  transition-delay: 1.05s;
}

#navWrap nav.show ul.main li:nth-child(8) {
  transition-delay: 1.2s;
}

#navWrap nav.show ul.main li:nth-child(9) {
  transition-delay: 1.35s;
}

#navWrap nav.show .about, nav.show .social, nav.show ul.sub {
  -webkit-transform: translateY(0px);
  -moz-transform: translateY(0px);
  -ms-transform: translateY(0px);
  -o-transform: translateY(0px);
  transform: translateY(0px);
  opacity: 1;
  transition-delay: .85s;
}

@media (min-width: 667px) {
  #navWrap nav {
    padding: 120px 0 0;
  }
}

#navWrap nav ul.main {
  list-style-type: none;
  padding-left: 50px;
}

#navWrap nav ul.main li {
  margin-bottom: 20px;
  -webkit-transform: translateX(40px);
  -moz-transform: translateX(40px);
  -ms-transform: translateX(40px);
  -o-transform: translateX(40px);
  transform: translateX(40px);
  opacity: 0;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

#navWrap nav ul.main li:last-of-type {
  margin-bottom: 0px;
}

#navWrap nav ul.main li a {
  font-family: 'HelveticaNeueLTPro-Bd';
  color: #333;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.5rem;
  display: block;
  letter-spacing: 5px;
  font-weight: 600;
  padding: 10px 0;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

#navWrap nav ul.main li a span {
  color: #00b2e6;
}

#navWrap nav ul.main li a:hover {
  color: #00b2e6;
}

#navWrap nav .about {
  margin-top: 40px;
  -webkit-transform: translateY(30px);
  -moz-transform: translateY(30px);
  -ms-transform: translateY(30px);
  -o-transform: translateY(30px);
  transform: translateY(30px);
  opacity: 0;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

#navWrap nav .about p {
  color: #ffffff;
  font-size: 1.05rem;
  letter-spacing: 0.5px;
  line-height: 170%;
}

#navWrap nav .social {
  margin-top: 40px;
  position: relative;
  padding-bottom: 30px;
  -webkit-transform: translateY(30px);
  -moz-transform: translateY(30px);
  -ms-transform: translateY(30px);
  -o-transform: translateY(30px);
  transform: translateY(30px);
  opacity: 0;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

#navWrap nav ul.sub {
  list-style-type: none;
  margin-top: 40px;
  -webkit-transform: translateY(30px);
  -moz-transform: translateY(30px);
  -ms-transform: translateY(30px);
  -o-transform: translateY(30px);
  transform: translateY(30px);
  opacity: 0;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

#navWrap nav ul.sub li {
  margin-bottom: 10px;
}

#navWrap nav ul.sub li:last-of-type {
  margin-bottom: 0px;
}

#navWrap nav ul.sub li a {
  color: #ffffff;
  letter-spacing: 1px;
  font-size: 0.9rem;
  text-decoration: none;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

#navWrap nav ul.sub li a:hover {
  color: #b7ac7f;
}

/*  OVERLAY
========================================== */

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #b7ac7f;
  opacity: 0;
  visibility: hidden;
}

.overlay.show {
  opacity: 0.8;
  visibility: visible;
}

@media (max-width: 767px) {
  #navWrap nav {
    max-width: 100%;
  }
}